<div>
  <h1 style="text-align-last: center">India Team Details</h1>
  <button type="button" style="margin-right: 10%; margin-left: 38%">
    <a routerLink="/add" style="text-decoration: none; color: black"
      >Add a New player</a
    >
  </button>
  <label>Choose filter</label>
  <select
    class="select-option"
    #mySelect
    (change)="onOptionsSelected(mySelect.value)"
  >
    <option value="none">none</option>
    <option value="get-player-least-innings">get-player-least-innings</option>
    <option value="get-player-highest-boundary-sixes">
      get-player-highest-boundary-sixes
    </option>
    <option value="get-players-by-boundary-fours">
      get-players-by-boundary-fours
    </option>
    <option value="get-players-by-least-boundary-fours">
      get-players-by-least-boundary-fours
    </option>
    <option value="get-player-highest-matches">
      get-player-highest-matches
    </option>
  </select>

  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
  <table style="width: 75%; margin-left: 13%">
    <tr>
      <th>Name</th>
      <th>Matches</th>
      <th>Innings</th>
      <th>BoundaryFours</th>
      <th>BoundarySixes</th>

      <th>Action</th>
    </tr>
    <tr *ngFor="let post of data">
      <td>{{ post?.Name }}</td>
      <td>{{ post?.Matches }}</td>
      <td>{{ post?.Innings }}</td>
      <td>{{ post?.BoundaryFours }}</td>
      <td>{{ post?.BoundarySixes }}</td>
      <td>
        <button type="button" style="margin-right: 15px">
          <a
            routerLink="/edit"
            [state]="post"
            style="text-decoration: none; color: black"
            >Edit</a
          >
        </button>
        <button type="button" (click)="deletePlayer(post._id)">Delete</button>
      </td>
    </tr>
  </table>
</div>
